[submodule "modules/couchdb"]
	path = modules/couchdb
	url = git://github.com/bdossantos/puppet-module-couchdb.git
[submodule "modules/elasticsearch"]
	path = modules/elasticsearch
	url = git://github.com/bdossantos/puppet-module-elasticsearch.git
